* {
  padding: 0;
  margin: 0;
}

.controls {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 32px;
  padding: 10px;
  display: flex;
}

.controls > button {
  padding: 0;
  width: 100%;
  aspect-ratio: 1;
  background-image: url("icons/restart.png");
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9f7443;
  transition: background 500ms;
  /* background-color: #99612d; */
}

#game {
  width: calc(100vmin - 16px);
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.tile {
  position: relative;
  background-color: #ae804b;
  opacity: 0;
  transform: scale(50%);
}

.tile:nth-child(odd) {
  background-color: #c39158;
}

.tile::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  margin: 0;
  aspect-ratio: 1;
  border-radius: 100%;
  transition: all 500ms;
}

.colored::after {
  width: 90%;
  margin: 5%;
}

.white::after {
  background-color: #e6be91;
}

.black::after {
  background-color: #4e331b;
}

.popup {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #4e331b;
  padding: 24px 48px;
  position: absolute;
  background-color: #c39158;
  border: 4px solid #ae804b;
  transition: all 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.popup > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  color: #4e331b;
  font-weight: bolder;
  height: 32px;
  font-size: larger;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 500ms;
  padding: 8px 16px;
}

.popup > div > button {
  margin: 0 -16px 0 16px;
  padding: 0;
  aspect-ratio: 1;
}

button:hover {
  background-color: #4e331b3b;
}
button:active {
  background-color: #4e331b67;
}

.display {
  pointer-events: all;
  opacity: 1;
}
